Chrome >= 64
Edge >= 15
Opera >= 30
Firefox >= 50
Safari >= 11
IOS >= 7
last 5 ChromeAndroid version
last 5 FirefoxAndroid version
last 2 Samsung version
last 1 UCAndroid version
last 1 OperaMobile version