.card__button {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 8px;
}

.card__button:hover .card__tooltip {
  opacity: 1;
  visibility: visible;
}